<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
<link href='https://fonts.googleapis.com/css?family=Geostar'
	rel='stylesheet'>
<!--===============================================================================================-->

<!--=================================Styling==============================================================-->
<style>
.vl {
	border-left: 2px solid gray;
	height: 400px;
	position: absolute;
	left: 100%;
	margin-left: -3px;
	top: 0;
}

h6 {
	overflow: hidden;
	text-align: center;
}

h6:before, h6:after {
	background-color: gray;
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 50%;
}

h6:before {
	right: 0.5em;
	margin-left: -50%;
}

h6:after {
	left: 0.5em;
	margin-right: -50%;
}
</style>
</head>
<body
	style="background-color: #ffffff; /* background-image: url('../images/Old Paper Background-X3.jpg')"*/  >

	<!-- Nav Panel Start -->
	<div id="navbar">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<label class="navbar-brand">Apps</label>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">Home</a></li>
					<li><a th:href="@{'/addBook'}">Add Book</a></li>
					<li><a href="viewBook">View Book</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a><span class="glyphicon glyphicon-user"></span>
							Welcome! <span th:text="${name}"></span></a></li>
					<li th:if="${name}!=null"><a href="/logout"><span
							class="	glyphicon glyphicon-log-out"></span> Logout</a></li>
					<li th:if="${name}==null"><a data-toggle="modal"
						data-target="#loginForm"> <span
							class="glyphicon glyphicon-log-in"></span> Login
					</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<!-- Nav Panel End -->


	<!-- Modal Start-->
	<div class="modal fade container-fluid" id="loginForm" role="dialog">
		<div class="modal-dialog modal-lg">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header" style="background-color: #ffffff">
					<button type="button" class="close" data-dismiss="modal"
						style="color: red;">&times;</button>
					<h1 class="modal-title"
						style="color: #000000; font-family: 'Geostar';">Task Yet Incomplete</h1>
				</div>


				<div class="modal-body" style="background-color: #ffffff;">
					<div class="row">
						<div class="col-sm-6" style="text-align: center; padding: 1em;">
							Yet Unregistered ? Sign Up Here
							<div style="text-align: left;">
								<label class="control-label">Your Name</label>
							</div>
							<div class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-user"></i></span> <input id="signupname"
									type="text" class="form-control" name="signupname"
									placeholder="Enter Your Name">
							</div>
							<br>
							<div style="text-align: left;">
								<label class="control-label">Email ID</label>
							</div>
							<div class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-envelope"></i></span> <input
									id="signupemail" type="email" class="form-control"
									name="signupemail" placeholder="Enter Your Email">
							</div>
							<br>
							<div style="text-align: left;">
								<label class="control-label">Password</label>
							</div>
							<div class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-lock"></i></span> <input
									id="signuppassword" type="password" class="form-control"
									name="signuppassword" placeholder="Enter Your Password">
							</div>
							<br>
							<div style="text-align: left;">
								<label class="control-label">Retype Password</label>
							</div>
							<div class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-lock"></i></span> <input
									id="signupretypepassword" type="password" class="form-control"
									name="signupretypepassword"
									placeholder="Bother Entering Password Once More">
							</div>
							<br>
							<button type="submit" class="btn btn-info">Sign Up</button>
							<div class="vl"></div>
						</div>
						<div class="col-sm-6">


							<div id="socialButtons" style="text-align: center; padding: 1em;">

								Already Registered? Sign In
								<div style="text-align: left;">
									<label class="control-label">Email ID</label>
								</div>
								<div class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-envelope"></i></span> <input id="email"
										type="text" class="form-control" name="email"
										placeholder="Enter Your Registered Email">
								</div>
								<br>
								<div style="text-align: left;">
									<label class="control-label">Password</label>
								</div>
								<div class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-lock"></i></span> <input id="password"
										type="password" class="form-control" name="password"
										placeholder="Hope You Remember !!!">
								</div>
								<br>


								<button type="submit" class="btn btn-success">Sign In</button><br/><br/>
								<a href="">Forgot Password?</a>

<br/>
								
								

								<!-- <div class="col-md-12 col-lg-12">
									<div class="col-md-5 col-lg-5"
										style="background-color: #333; content: ''; height: 1px; margin-top: 10px;">

									</div>
									<div class="col-md-2 col-lg-2">OR</div>
									<div class="col-md-5 col-lg-5"
										style="background-color: #333; content: ''; height: 1px; margin-top: 10px;">

									</div>



								</div> -->
								<br>
								
								<div class="col-md-1 col-lg-1"></div>
								<div class="col-md-10 col-lg-10"><h6 style="color: gray">OR</h6></div>
								<div class="col-md-1 col-lg-1"></div>

<br /><br />
								<div class="btn-group">
									<a class='btn btn-danger disabled'><i
										class="fa fa-google-plus" style="width: 16px; height: 17px"></i>
									</a> <a href="/login/google" class='btn btn-danger'
										style="width: 16em;">Sign in with Google</a>
								</div>
								<br /> <br />
								<div class="btn-group">
									<a class='btn btn-primary disabled'> <i
										class="fa fa-facebook" style="width: 16px; height: 17px"></i>
									</a> <a href="/login/facebook" class='btn btn-primary'
										style="width: 16em">Sign in with Facebook</a>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="modal-footer" style="background-color: #ffffff">

					<button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>


</body>
</html>